<div class="container">
    <div class="section">
        <div class="text">
            <h1>El país de la belleza natural</h1>
            <p>Explora la diversidad de Colombia: desde playas caribeñas hasta montañas andinas, ciudades coloniales y selvas amazónicas.</p>
            <div class="section-buttons">
                <p-button label="Reservar Ahora" icon="pi pi-arrow-right" iconPos="right"  />

                <p-button label="Contactar" variant="outlined" [routerLink]="'/contact'"/>
            </div>
        </div>
    </div>
    <div class="images">
        <img src="assets/tourisc.jpg" alt="">
    </div>
   
</div>