.container {
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem;
    margin: 0 16px;
    height: 905px;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
    gap: 30px;
    .section-title {
        display: flex;
        flex-direction: column;

        h1 {
            margin: 0;
            color: rgb(0 56 147);
            font-size: 3rem;
            line-height: 1;
        }

        p {
            margin: 0;
            font-size: 1.25rem;
            line-height: 1.75rem;
            color: hsl(215 16% 47% / 1);
        }
    }

    .section-table {
        .section-title-card {
            h3 {
                margin: 0;
                color: black;
                font-weight: 600;
            }

            p {
                margin: 0;
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }
    }
}