.container {
    display: flex;
    padding: 20px;
    border-color: #e5e7eb;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;

    .principal-section {
        display: flex;
        gap: 20px;
        align-items: center;


        .icon-section {
            display: flex;
            gap: 8px;
            align-items: center;

            span {
                color: rgb(0 56 147);
                font-size: 16px;
                font-weight: bold;
            }
        }

        .section-items {
            display: flex;
            gap: 4px;
            align-items: center;

            p {
                color: #000;
                font-size: 16px;
                font-weight: 500;
                text-decoration: none;
            }

            nav {
                display: flex;
                flex-direction: row;
                gap: 4px;

                .p-button-text {
                    color: #757575;
                }
            }


        }
    }

    .section-copyRight{
        p{
            color: #757575;
        }
    }

    .section-terms{
        display: flex;
        flex-direction: row;
        gap: 20px;
        p{
            color: #757575;
            cursor: pointer;
        }
    }

    .section-buttons {
        display: flex;
        flex-direction: row;
    }
}

.bandera-colombia{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 0.25rem;
    div{
        width: 100%;
    }
}

::ng-deep nav .p-button-text {
    color: #757575;
}