<header>
    <div class="container">
        <div class="principal-section">
            <div class="icon-section">
                <i class="pi pi-map-marker" style="font-size: 1rem; color: rgb(206 17 38);"></i>
                <span>Colombia Tours</span>
            </div>
    
            <div class="section-items">
               <nav >
                <div *ngFor="let item of items">
                    <p-button [label]="item.label" variant="text" routerLinkActive="active" [routerLink]="item.routerLink"  [fragment]="item.fragment"></p-button>
                </div>
                
               </nav>
            </div>
        </div>
        <div class="section-buttons" *ngIf="!user">
            <p-button label="Iniciar Sesión" variant="text"   [routerLink]="'/login'"/>
            <p-button label="Registrarse"  [routerLink]="'/register'"/>
        </div>

        <div class="section-buttons" *ngIf="user">
            <p-button label="Salir" (click)="logout()"/>
        </div>

    </div>
    <div class="bandera-colombia">
        <div  style="background-color: rgb(252 209 22);"></div>
        <div style="background-color: rgb(0 56 147);"></div>
        <div style="background-color: rgb(206 17 38);"></div>
    </div>
</header>