<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" />
<div class="container">
    <div class="section-container">
        <div class="title">
            <h1>Crear una cuenta</h1>
            <p>Ingresa tus datos para registrarte y comenzar a explorar</p>
        </div>
        <div class="form">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <div class="section">
                    <label for="name" style="bottom: 2px;">Nombre completo</label>
                    <input pInputText id="name" aria-describedby="name-help" formControlName="name" />
                </div>
                <div class="section">
                    <label for="Email" style="bottom: 2px;">Email</label>
                    <input pInputText id="Email" inputmode="email" aria-describedby="Email-help" formControlName="Email" />
                </div>
                <div class="section">
                    <label for="password" style="bottom: 2px;">Contraseña</label>
                    <p-password formControlName="password" [feedback]="false" />
                </div>
                <div class="section">
                    <label for="password2" style="bottom: 2px;">Confirmar contraseña</label>
                    <p-password formControlName="password2" [feedback]="false" />
                </div>
                <div class="section-buttons">
                    <p-button label="Registrarse" type="submit"/>
                </div>
            </form>
            <div class="register">
                <p>¿Ya tienes una cuenta?</p><p-button label="Iniciar sesión" [link]="true"  [routerLink]="'/login'"/>
            </div>
        </div>
    </div>
</div>