.container {
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem;
    margin: 0 16px;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
    gap: 30px;

    .section-title {
        display: flex;
        flex-direction: column;

        h1 {
            color: rgb(0 56 147);
            font-size: 3rem;
            line-height: 1;
        }

        p {
            margin: 0;
            font-size: 1.25rem;
            line-height: 1.75rem;
            color: hsl(215 16% 47% / 1);
        }
    }

    .section-table {
        .section-title-card {
            h3 {
                margin: 0;
                color: black;
                font-weight: 600;
            }

            p {
                margin: 0;
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }

        .section-form {
            .section-inputs {
                display: flex;
                flex-direction: row;
                gap: 16px;
                padding: 18px 0;

                .section {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 100%;

                    label {
                        color: black;
                        font-weight: 500;
                    }

                    p-datepicker {
                        width: 100%;
                      }
                  
                      ::ng-deep .p-datepicker:has(.p-datepicker-input-icon-container) {
                        width: 100%;
                      }
                }
            }

            .section-buttons {
                display: flex;
                flex-direction: row;
                gap: 10px;
                justify-content: end;
            }
        }
    }
}